@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');
.navbar {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: rgba(30, 30, 30, 1);
    display: flex;
    align-items: center;
    /* position: fixed; */
    border-bottom: 1px solid rgba(140, 129, 121, 1);
    height: 4rem;
    width: 100%;
    /* margin-bottom: 1rem; */
    /*top: -10px;*/
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    height: 2rem;
    margin-left: 1.5rem;
}

.companyText {
    margin-left: 1rem;
    font-size: 2rem;
    color: black;
}

.navigation a {
    padding-left: 1rem;
    font-size: 1.2rem;
    color: inherit;
    text-decoration: none;
}

.navigation {
    margin-right: 1.5rem;
}

.navigation a:hover {
    font-weight: bold;
    transition: font-weight .25s ease-out;
}

.AppNavImg {
    /* animation: App-logo-spin infinite 2s linear; */
    width: 4rem;
    height: 4rem;
}

.companyText {
    font-size: 1.8rem;
}

@media only screen and (max-width: 500px) {
    .companyText {
        display: none;
    }
    .mobile-header-icons {
        display: initial
    }
    .AppNavImg {
        /* animation: App-logo-spin infinite 2s linear; */
        width: 4rem;
        height: 4rem;
    }
}

@media only screen and (min-width: 1400px) {
    .navbar {
        height: 6rem;
    }
    .companyText {
        font-size: 3rem;
    }
    .navigation a {
        padding-left: 1.5rem;
        font-size: 1.7rem;
    }
    .AppNavImg {
        /* animation: App-logo-spin infinite 2s linear; */
        width: 4rem;
        height: 4rem;
    }
    NavBeerMeLogo img {
        font-size: 5rem;
        width: 4rem;
        height: 4rem;
        max-width: 100%;
    }
}